*,::after,::before{
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

.logo {
    height: 50px;
    margin: 50px 100px;
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 150px;
    align-self: center;
    margin: 0 auto;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    box-shadow: -5px 10px 30px #bfbfbf;
    position: relative;
    z-index: 2;
    top: 50px;
}

.modal header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/*integration html + css*/

.name{
    font-size: 50px;
}

.photographer_id{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
    justify-content: center;
    align-items: flex-end;
}

h1{
    margin: 0;
    color: #DB8876;
}

.city{
    font-size: larger;
    color: #901C1C;
}

.filter{
    margin: 20px 100px;
    display: flex;
    font-weight: bold;
}

#select-first-option span::after{
  
    content:" ^ ";
    display:inline-block;
    vertical-align:bottom;
    position:absolute;
    transform:translate3d(0, -50%, 0) scale(1.5, 1.5);
    right:15px;
    top:55%;
    
  
}

.filter p{
    margin-right: 20px;
}

.select-option{
    width:120px;
    border:none;
    background:#911C1C;
    color:#ffffff;
    position:relative;
    display:block;
    border:1px solid #ffffff;
    cursor:pointer;
    height:60px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 2;
}

#select-block-options{
  
    display:none;
  
}
.list{
    margin-left: 20px;
    color: white;
    background-color: #901C1C;
    border: none;
    border-radius: 5px;
    padding: 15px 10px;
}

.media_gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px 100px;
    gap: 100px;
}

.media_cards img, .media_cards video{
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.bottom_line{
    font-size: larger;
    font-weight: bold;
    color: #901C1C;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.media_cards span{
    display: inline-block;
}

.heart_n_price{
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 20px;
    display: flex;
    border: 1px solid #DB8876;
    background-color: #DB8876;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding:10px 0px;
    font-weight: bold;
}

.popularity,
.price{
    margin: 0 20px;
}

.popularity{
    border: none;
    background: #DB8876;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.fas{
    margin-left: 5px;
}

/***************CSS LIGHTBOX*************/

.lightbox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(196, 196, 196, 0.4);
    z-index: 2;
    overflow: auto;
    animation: lightBoxIn .5s;
    transition: opacity .3s;
}

.lightbox_next,
.lightbox_prev{
    border: none;
    background: url(/assets/icons/arrow.svg) center center / 30px 48px no-repeat;
    width: 50px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: -14px;
    z-index: 3;
}

.lightbox_prev{
    right: auto;
    left: 0;
    transform: rotate(180deg);
}

.lightbox_close{
    border: none;
    background: url(/assets/icons/redclose.svg) center center / 42px 42px;
    width: 25px;
    height: 25px;
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 4;
}

.lightbox button{
    opacity: 0.5;
    cursor: pointer;
    transition: opacity .3s;
    text-indent: -9999px;
}

.lightbox button:hover{
    opacity: 1;
}

.lightbox_image img,
.article_media{
    max-width: 100%;
    height: auto;
    animation: lightBoxIn .5s;
}

.lightbox_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 100px;
    min-height: 100vh;
    object-fit: cover;
}

@keyframes lightBoxIn{
    from {opacity : 0;}
    to {opacity: 1;}
}